@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empty</title>
</head>
<body>
    <div>
        <h2>Cart Empty</h2>

    </div>
    <div>
        @Html.ActionLink("Back to Menu Items", "MenuItems")
    </div>
</body>
</html>